*{
  font-family: 'Poppins', sans-serif;
}

.box-area{
  width: 930px;
}


.login {
  height: 100vh;
}


header h1 {
  padding: 10px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
  font-size: 2.4rem;
  color: #C91108;
}

.login-form label, .login-form input {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  font-size: 1rem;
  color: black;
}


.login-form input{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  margin-bottom: 10px;
  background-color: #EEEEEE;
  border: #EEEEEE;
}

.login-form a {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  font-size: 1rem;
  color: #C91108;
  float: right;
}



.login-form .Masuk {

  width: 100%;
  height: 42px;
  background: #C91108;
  border-radius: 8px;
  border-color: #C91108;
  color: white;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
  font-size: 1rem;
}


.login-form .Daftar {
  width: 100%;
  height: 42px;
  background: white;
  border-radius: 8px;
  border-color: #C91108;
  color: #C91108;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
  font-size: 1rem;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.right-box{
  padding: 40px 60px 40px 50px;
}

@media only screen and (max-width: 768px){
  .box-area{
    margin: 0 10 px;
  }
  .left-box{
    height: auto;
    overflow: hidden;
  }
  .right-box{
    padding: 20px;
  }
}